
#menu
{
    background-color: black;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#menu, #menu ul li .dropdown-menu
{
    background-color: black;
}


#menu ul .open a
{
    background-color: unset;
}

#menu a:hover, #menu a:focus, #menu ul .active a
{
    background-color: unset;
    color: #fd7b52;
}

#menu a
{
    color: white;
}

@media screen and (min-width: 1024px)
{
    body{
    background-color: lightgreen;
}
}

#part-01
{
    background-image: url('../images/background-foto.jpg');
}